{% extends "base.html" %}


{% block page_content %}
    <div>
    <div class="sidenav" style="float: left">
      <div id="preview-pane">
        <div class="preview-container">
          <img src="..\static\picture.png" class="jcrop-preview" alt="Preview" />
        </div>
      </div>
    <table >
          <tr>
              <td>Q1</td>
             <td class = "select"><input id = "Q1" type="number" min="5" max="100" value="20" style="color: black">%
          </tr>
          <tr>
            <td>Q2</td>
            <td class = "select">
                <input id = "Q2" type="number" min="5" max="100" value="70" style="color: black">%
          </tr>
        <tr>
        <td>Q3</td>
        <td class = "select">
            <input id = "Q3" type="number" min="5" max="100" value="10" style="color: black">%
      </tr>
    </table>

        <ul>
            <li>
                Q1: 150T/H
            </li>
            <li>
                Q2: 120T/H
            </li>
            <li>
                Q3: 90T/H
            </li>
        </ul>

        <table >
          <tr>
              <td>Q1</td>

            <td >$</td>
          </tr>
          <tr>
            <td>Q2</td>
            <td >$</td>
          </tr>
        <tr>
        <td>Q3</td>
            <td >$</td>

      </tr>
    </table>

        </div>



<div class="container" style="float: right; position: relative; z-index: 1000; left: 17%; padding: 2% 2% 2% 2%">
	<div class="jumbotron">
    <div class="container" id="graph">


    </div>
  </div>

</div>

    </div>






{% endblock %}


{% block scripts %}
    <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
    <link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jcrop"></script>
    <script src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>

    <style>
    .sidenav {
      height: 95%; /* Full-height: remove this if you want "auto" height */
      width: 23%; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1000; /* Stay on top */
      top: 7%; /* Stay at the top */
      left: 0;
      background-color: rgba(0, 0, 0, 0.73); /* Black */
      overflow-x: hidden; /* Disable horizontal scroll */

        }
    table{
        position: relative;
        margin: 5%;
        width:90%;
        left: 1%;
        z-index: 2000;
        padding: 2%;
        border: 2px white solid;
        top: 5%;
        padding: 0%;
        color: #cdcdcd;
    }
    tr{

        width: 100%;
        z-index: 2000;
        font-size: 15px;
        color: #cdcdcd;
    }
    td{
        border: white solid 1px;
        width: 10%;
    }
    ul{
        position: relative;
        color: #cdcdcd;
        margin: 2%;
        top: 5%;
    }
    #preview-pane {
      display: block;
        width:80%;
        height: 35%;
        left: 8%;
      position: relative;
      z-index: 2000;
      top: 2%;
      padding: 2%;
      border: 1px rgba(156, 238, 103, 0.4) solid;
      background-color: white;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    }

    /* The Javascript code will set the aspect ratio of the crop
       area based on the size of the thumbnail preview,
       specified here */
    .preview-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    </style>

    <script type="text/javascript">
        var x = {{x1}};
        var y = {{ y1 }};
        var x2 = {{x2}};
        var y2 = {{ y2 }};
        var w = {{ w }};
        var h = {{ h }};


    jQuery(function ($) {



        var rx = 280/ w;
        var ry = 250 / h;

        $('.jcrop-preview').css({
            width: Math.round(rx * 512) + 'px',
            height: Math.round(ry * 512) + 'px',
            marginLeft: '-' + Math.round(rx * x) + 'px',
            marginTop: '-' + Math.round(ry * y) + 'px',
            marginRight: "-" + Math.round(w-rx*x2) + 'px',
            marginBottom: "-" + Math.round(h-rx*y2) + 'px',


        });


        $('#Q1').change(function () {

            var left = 100-$('#Q1').val();
            var portion2 = $('#Q2').val();
            var portion3 = $('#Q3').val();
            var newQ2 = portion2/100 * left;
            var newQ3 = portion3/100 * left;

             $('#Q2').val(Math.round(newQ2));
             $('#Q3').val(Math.round(newQ3));
             console.log(left)
            console.log(portion2)
            console.log(portion3)
            console.log(newQ2)
            console.log(newQ3)
        })


    })
    </script>
    <script type="text/javascript">
     Plotly.d3.csv("C:\\Users\\Aurora\\PycharmProjects\\SQUP\\dataframe.csv", function(buf){
    var x_time = [], y_Q1 = [], y_Q2 = [], y_Q3 = [];
    console.log(buf)
    for (var i = 0; i < buf.length; i++) {
      row = buf[i];
      x_time.push( row['Date'] );
      y_Q1.push( row['Q1_TS'] );
      y_Q2.push( row['Q2_TS'] );
      y_Q3.push( row['Q3_TS'] );
    }

    console.log(x_time);
    console.log(y_Q1);
    console.log(y_Q2);
    console.log(y_Q3);

    var trace1 = {
      x: x_time,
      y: y_Q1,
      mode: 'lines',
      type: 'scatter'
    };

    var trace2 = {
      x: x_time,
      y: y_Q2,
      mode: 'lines',
      type: 'scatter'
    };
    var trace3 = {
      x: x_time,
      y: y_Q3,
      mode: 'lines',
      type: 'scatter'
    };

    var data = [trace1, trace2, trace3];

    var layout = {
      yaxis: {
         tickformat: '.0'
      }
    };

    Plotly.newPlot('graph', data, layout);
    } );



    </script>


{% endblock %}