{% extends "bootstrap/base.html" %}
{% block title %}SQUP{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation" style="position: fixed; width: 100%; z-index: 10000">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SQUP</a>
        </div>
       <span> <div class="navbar-collapse collapse" style = "float:left">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><form class="form-inline my-2 my-lg-0" style ="padding-top:10px">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form></li>
            </ul>
            
        </div>
        <div class="navbar-collapse collapse" style = "float:right">
            <ul class="nav navbar-nav">
                <li><a href="/user/Shubh">Login</a></li>
                <li><a href="/user/Dave">Register</a></li>
            </ul>
            
        </div></span>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}