{% extends "base.html" %}

{% block page_content %}
<div class="container">
	<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to SQUP</h1>
      <p>SQUP or Sugarcane Quality Predictor will help you determine your sugarcane crop quality and advise you on potential improvements for better results this coming season. It can also provide you with the forecast for next 'n' months based on your current crop data.</p>
      <p><a class="btn btn-primary btn-lg" href="/user/Shubh" role="button">Login &raquo;</a></p><p><a class="btn btn-primary btn-lg" href="/user/Dave" role="button">Register &raquo;</a></p>
    </div>
  </div>

</div>
{% endblock %}