{% extends "bootstrap/base.html" %}
{% block title %}Sugarcane Quality Predictor - SQUP{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Sugarcane Quality Predictor - SQUP</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/user/Dave">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endblock %}
{% block content %}
<div class="container" >

    <div class="page-header">
		<h1>Hello, {{ name }}!</h1>
	</div>

    <!--<div class="container">
        <div style="float: left;">
        <img src="..\static\picture.png" alt="Snow"  id="image1">
        <img src="..\static\picture.png" alt="Forest"  id="image2"></div>
        <div class="btn-group-vertical" style="float: right; margin-top: 20px;">
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="Q1">quality1</button>
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="Q2">quality2</button>
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="Q3">quality3</button>
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="ORI">Original</button>
        </div>
    </div>-->

    <div class="row">
        <div class="column" style="float: left; margin: 10px">
            <img src="..\static\picture.png" alt="Snow"  id="image1"></div>
        <div class="column" style="float: left; margin: 10px"><img src="..\static\picture.png" alt="Forest"  id="image2"></div>

        <div class=" btn-group btn-group-vertical" style="float: right; margin-top: 20px;">
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="Q1" >quality1</button>
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="Q2">quality2</button>
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="Q3">quality3</button>
            <button type="button" class="btn btn-default btn-sm btn-rounded " id="ORI">Original</button>
        </div>
    </div>



    <div style="margin:5px;">
        <label>X1 <input type="text" name="x" id="x" size="4"/></label>
        <label>Y1 <input type="text" name="y" id="y" size="4"/></label>
        <label>X2 <input type="text" name="x2" id="x2" size="4"/></label>
        <label>Y2 <input type="text" name="y2" id="y2" size="4"/></label>
        <label>W <input type="text" name="w" id="w" size="4"/></label>
        <label>H <input type="text" name="h" id="h" size="4"/></label>
    </div>

<button type="button" class="btn btn-dark btn-sm btn-rounded " id="analysis"
        style="width: 100px; height: 40px; float: right; margin-right: 10%; font-size: 100%"
        >
    <span class="glyphicon glyphicon-stats"></span> Analysis
</button>

</div>
{% endblock %}


{% block scripts %}
    <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/jcrop"></script>

    <script src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.css" type="text/css" />

    <script type="text/javascript">
//const stage = 


//stage.listen('crop.move',(widget,e) => {
  //document.getElementById("x").val(widget.pos);
  
//});

jQuery(function($){
        // The variable jcrop_api will hold a reference to the
        // Jcrop API once Jcrop is instantiated.
        var jcrop_api;

        // In this example, since Jcrop may be attached or detached
        // at the whim of the user, I've wrapped the call into a function

        // How easy is this??
        $('#image2').Jcrop({
            onSelect: SETANOTHER,
            aspectRatio: 16 / 10

        },function(){

        jcrop_api = this;
        // Setup and dipslay the interface for "enabled"
        $('#can_click,#can_move,#can_size').attr('checked','checked');
        $('#ar_lock,#size_lock,#bg_swap').attr('checked',false);
      });
        function releaseCheck()
        {
          jcrop_api.setOptions({ allowSelect: true });
          $('#can_click').attr('checked',false);
        };

        $('#analysis').click(function () {
             window.location.href='analysis.html?x1='+v1 + '&y1=' + v2;
        });
        $('#Q1').click(function () {
            console.log('js/jquery.min.js')
            jcrop_api.release();
            jcrop_api.setImage('../static/rose.jpeg')
        });
        $('#Q2').click(function () {
            jcrop_api.release();
            jcrop_api.setImage('../static/poster.jpg')
        });
        $('#Q3').click(function () {
            jcrop_api.release();
            jcrop_api.setImage('../static/light.jpg')
        });
        $('#ORI').click(function () {
            jcrop_api.release();
            jcrop_api.setImage('../static/picture.png')
        });
      });

      function SETANOTHER(c) {
          console.log(c)
          v1 = c.x
          v2 = c.y
          v3 = c.x2
          v4 = c.y2;

          $('#x').val(v1);
            $('#y').val(v2);
            $('#x2').val(v3);
            $('#y2').val(v4);
            $('#w').val(c.w);
            $('#h').val(c.h)
          var image = $('#image1').Jcrop({
              setSelect:[v1 ,v2, v3, v4]
          })
       
      }





</script>
<!--<script src="G:\PythonVSCode\WebDev\flasky\templates\js\jcrop_main.js"></script>-->
{% endblock %}